@import url('https://fonts.googleapis.com/css2?family=NTR&family=Sarala&display=swap');


.titulo {

	display: flex;
	justify-content: center;
	
	font-family: 'IBM Plex Mono', monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	
	margin-top: 2%;
	margin-bottom: 2%;
	
	color:#FFFFFF;

}

body {
	
	background-color: #363940

}

.div-data {
	
	display: flex;
	align-content: center;
	background: #44474E;
	border-radius: 10px;
	
	margin-left: 29%;
	margin-right: 29%;

}

.texto-div {
	
	margin-left: 1em;
	color: #fff;
	
	font-family: 'IBM Plex Mono', monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	
}


.div-sliders{ 

	display: flex;
	flex-direction: column;
	
	justify-content: center;
	align-items: center;
	background: #44474E;
	border-radius: 10px;
	
	margin-top: 2%;
	margin-left: 29%;
	margin-right: 29%;
	margin-bottom: 0.5%;

}

.sliders {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	gap: 3em;
}

.div-sliders-red {
	
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FF817E;
	align-items: center;
	height: 48px;
	margin-top: 2em;
	border-radius: 3px;
	
}

.div-sliders-green{
	
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3FB73D;
	height: 48px;
	margin-top: 2em;
	border-radius: 3px;
	
}

.div-sliders-blue{
	
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #515AAB;
	height: 48px;
	margin-top: 2em;
	border-radius: 3px;
	
}

#colorbox {
	
	margin-top: 7%;
	
	
    width:200px;
    height:200px;
  
	border: none;
	
	border-radius: 120px;
	background: #5D79B8;
	
	margin-bottom: 3%;
	
	
	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span{
	margin-bottom: 5%;
	
	color: #fff;
	font-family: 'IBM Plex Mono', monospace;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
}

.rodape {
	display: flex;
	justify-content: center;
	
	font-family: 'IBM Plex Mono', monospace;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	
	margin-top: 3%;
	margin-bottom: 0%;
	
	
}